<div class="container body">
  <div class="screen">
    <div class="screen__content">
      <form class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input
            type="text"
            class="login__input"
            placeholder="User name / Email"
            name="usuario"
            [(ngModel)]="usuario"
          />
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input
            type="password"
            class="login__input"
            placeholder="Password"
            name="contrasena"
            [(ngModel)]="contrasena"
          />
        </div>
        <button class="button login__submit" (click)="login()">
          <span class="button__text">Ingresar</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
        <button class="button login__submit" (click)="registar()">
          <span class="button__text">registrar</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
