<form [formGroup]="formRegistro">
    <table class="example-full-width" style="width: 800px" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" style="width: 90%" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput name="nombre" formControlName="nombre" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" style="width: 90%" appearance="fill">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput name="apellidos" formControlName="apellidos" />
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" style="width: 90%" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input type="email" matInput name="correo" formControlName="correo" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" style="width: 90%" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input type="number" matInput name="telefono" formControlName="telefono" />
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" style="width: 90%" appearance="fill">
                    <mat-label>Compania</mat-label>
                    <input type="email" matInput name="compania" formControlName="compania" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field style="width: 90%" appearance="fill">
                    <mat-label>Avatar</mat-label>
                    <mat-select name="genero" formControlName="genero">
                        <mat-option value="false"> Hombre </mat-option>
                        <mat-option value="true"> Mujer </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <mat-form-field class="example-full-width" style="width: 95%" appearance="fill">
                    <mat-label>Notas</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..." name="notas" formControlName="notas"></textarea>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button type="submit" [disabled]="!formRegistro.valid" mat-raised-button color="primary" type="submit" (click)="saveContact()">
    {{laberBoton}}
  </button>
</form>