<form [formGroup]="formNuevo">
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Ej. Juan"
        formControlName="nombres"
        name="nombres"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input
        matInput
        placeholder="Ej. Mendoza"
        formControlName="apellidos"
        name="apellidos"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Ej. juan.mendoza@gmail.com"
        formControlName="email"
        name="email"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Celular</mat-label>
      <input
        type="number"
        matInput
        placeholder="Ej. 3007412587"
        formControlName="celular"
        name="celular"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        placeholder=""
        formControlName="pass"
        name="pass"
      />
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="primary" (click)="saveUser()">
      {{ labelBoton }}
    </button>
  </p>
</form>
