<div class="container body">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape1">
    <mat-list>
      <mat-list-item *ngFor="let item of lista">
        <img *ngIf="!item.genero" matListAvatar src="../../../assets/hombre.png" alt="..." />
        <img *ngIf="item.genero" matListAvatar src="../../../assets/mujer.png" alt="..." />
        <h3 matLine>{{ item.nombre }} {{ item.apellidos }}</h3>
        <p matLine>
          <label>Tel. </label><span> {{ item.telefono }}</span>
    <span class="demo-2"> -- </span>
    <label>Correo. </label><span> {{ item.correo }}</span>
    </p>
    <p matLine>
        <label>Compañia. </label><span> {{ item.compania }}</span>
    </p>
    <p matLine>
        <label>Notas. </label><span> {{ item.notas }}</span>
    </p>
    <button mat-raised-button color="primary" (click)="updateContact(item)">
          Editar
        </button>
    <button mat-raised-button color="accent" (click)="deleteContact(item.id)">
          Borrar
        </button>
    </mat-list-item>
    </mat-list>
    <button class="boton_nuevo" mat-raised-button color="primary" (click)="createContac()">
      Nuevo
    </button>
    <button class="boton_nuevo2" mat-raised-button color="succes" (click)="salir()">
      Salir
    </button>
    </span>
</div>